SUBSAMPLE_FILE=subsampledCombination.csv
FULL_FILE=wala0cfa.csv
SA_LABEL=wala-cge-0cfa-noreflect-intf-trans
HEADERS=wala-cge-0cfa-noreflect-intf
BENCHMARK_CALLGRAPHS=../replication_package/raw_data/
TRAINING_PROGRAMS_LIST=../replication_package/info_data/train_programs.txt
LEARNED_MODEL_DIR=../replication_package//model/finetuned_model/callee/
CLASSIFIER_MODEL_DIR=../replication_package/model/classifier_model/ablation_callee/
TEST_PROGRAMS_LIST=../replication_package/info_data/test_programs.txt
PROCESSED_DATA=../replication_package/processed_data/wala/
CODE_DATA=../replication_package/njr-1_dataset/
CACHE_DIR=../replication_package/dl_dataset/ablation_callee/
FINETUNE_EMBEDDING=../replication_package/dl_dataset/backup/wala/