SUBSAMPLE_FILE=doopSubsampled.csv
FULL_FILE=doop0cfa.csv
SA_LABEL=doop-context-insensitive-noreflect-trans
HEADERS=doop-context-insensitive-noreflect
BENCHMARK_CALLGRAPHS=../replication_package/raw_data/
TRAINING_PROGRAMS_LIST=../replication_package/info_data/train_programs.txt
LEARNED_MODEL_DIR=../replication_package/model/finetuned_model/combine/
TEST_PROGRAMS_LIST=../replication_package/info_data/test_programs.txt
PROCESSED_DATA=../replication_package/processed_data/doop/
CODE_DATA=../replication_package/njr-1_dataset/
CACHE_DIR=../replication_package/dl_dataset/doop/
GNN_CACHE_DIR=../replication_package/gnn_dataset/doop/
FINETUNE_EMBEDDING=../replication_package/dl_dataset/doop/
VISUALIZATION_OUTPUT=output/doop/
CLASSIFIER_MODEL_DIR=../replication_package/model/classifier_model/doop/