SUBSAMPLE_FILE=petaSubsampled.csv
FULL_FILE=peta0cfa.csv
SA_LABEL=petablox-bddbddb-petablox-cg-java-trans
HEADERS=petablox-bddbddb-petablox-cg-java
BENCHMARK_CALLGRAPHS=../replication_package/raw_data/
TRAINING_PROGRAMS_LIST=../replication_package/info_data/train_programs.txt
LEARNED_MODEL_DIR=../replication_package/model/finetuned_model/combine/
TEST_PROGRAMS_LIST=../replication_package/info_data/test_programs.txt
PROCESSED_DATA=../replication_package/processed_data/peta/
CODE_DATA=../replication_package/njr-1_dataset/
CACHE_DIR=../replication_package/dl_dataset/peta/
GNN_CACHE_DIR=../replication_package/gnn_dataset/peta/
FINETUNE_EMBEDDING=../replication_package/dl_dataset/peta/
VISUALIZATION_OUTPUT=output/peta/
CLASSIFIER_MODEL_DIR=../replication_package/model/classifier_model/peta/